.gallery-image {
    object-fit: cover;
    max-height: 300px;
}

.video-container {
    height: 625px;
    overflow: hidden;
    position: relative;

    video {
        object-fit: cover;
    }
}

.rounded-5 {
    border-radius: 1rem;
}

.bg-main {
    background-color: #fef1dd;
}

.object-fit-cover {
    object-fit: cover;
}